syntax: glob
release/
build/
log/
tmp/

*.suo
*.TMP
*.user
bin
Bin
!/bin
obj
*ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
*.trx
glob:svninfo.xml
*.log
*.orig
*.swp
*.idea
*.iml
*.dotCover
application.txt
*.*~
*.ncrunchproject
*.ncrunchsolution
*.swo
