syntax: glob
release/
build/
log/
tmp/
node_modules/
redis-2.4.15/
deploy/
development_logs/

src/**/routes/*.js
src/**/support/*.js
src/**/support/**/*.js
src/**/test/**/*.js
src/**/helper/*.js

src/TeamNotification_Server/support/
src/TeamNotification_Server/coffeescripts/config.coffee

*.suo
*.TMP
*.user
bin
Bin
!/bin
obj
*ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
*.trx
glob:svninfo.xml
*.log
*.orig
*.swp
*.idea
*.iml
*.dotCover
application.txt
*.*~
*.ncrunchproject
*.ncrunchsolution
*.swo
.DS_Store

config.js
mocha_setup.js
