<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TeamNotification_Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TeamNotification_Library.Properties.Settings>
            <setting name="ApiSite" serializeAs="String">
                <value>https://api.stagingdtt.local/</value>
            </setting>
            <setting name="Site" serializeAs="String">
                <value>https://stagingdtt.local/</value>
            </setting>
            <setting name="ApiSiteProduction" serializeAs="String">
                <value>https://api.yacketyapp.com/</value>
            </setting>
            <setting name="SiteProduction" serializeAs="String">
                <value>https://yacketyapp.com/</value>
            </setting>
            <setting name="Redis" serializeAs="String">
                <value>yacketyapp.com:6379</value>
            </setting>
        </TeamNotification_Library.Properties.Settings>
    </applicationSettings>
</configuration>