<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TeamNotification_Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TeamNotification_Library.Properties.Settings>
            <setting name="site" serializeAs="String">
                <value>http://ec2-107-21-171-44.compute-1.amazonaws.com/</value>
            </setting>
            <setting name="redis" serializeAs="String">
                <value>ec2-107-21-171-44.compute-1.amazonaws.com:6379</value>
            </setting>
        </TeamNotification_Library.Properties.Settings>
    </applicationSettings>
</configuration>