<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TeamNotification_Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TeamNotification_Library.Properties.Settings>
            <setting name="site" serializeAs="String">
                <value>http://dtt.local:3000/</value>
            </setting>
            <setting name="redis" serializeAs="String">
                <value>dtt.local:6379</value>
            </setting>
        </TeamNotification_Library.Properties.Settings>
    </userSettings>
</configuration>