link(rel='stylesheet', href='/stylesheets/jquery.autocomplete.css')
div
  #client-content

script(type='text/javascript', src='/scripts/extensions.js')
script(type='text/javascript', data-main='/scripts/main.js', src='/scripts/require.js')
