div
  h1 Response Rendered
  #response_view

  h1 Response
  //input#response_text(type='hidden',value=JSON.stringify(model.response))
  pre#response

script(type='text/javascript', data-main='/scripts/main.js', src='/scripts/require.js')
//script(src='/scripts/jquery-1.7.2.min.js')
//script(src='/scripts/jquery-1.7.2.min.js')
//script(src='/scripts/underscore-min.js')
//script(src='/scripts/backbone-min.js')
//script(src='/scripts/client-main.js')
