body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label { vertical-align: top;}

label.error {
    color: #FF0000;
}

/*textarea { vertical-align: bottom;}*/

/*input { vertical-align: top; }*/

.string-big { color: green; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.hidden { display: none; }

.scroll-box {
    overflow-x:hidden;
    overflow:auto;
    
}

.new_message {
    background-color:#fcf9ce;
}
pre {
	font-weight: bolder;
	border:0 !important; 
}

#user-rooms-container .room-name {
    padding: 8px 20px 12px;
}

#messages-container p {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

span.chat_message_date {
    white-space: nowrap;
}

.btn-huge{
    width:140px; 
    height:140px;
    line-height: 90px !important;
    1vertical-align:middle;
}
.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */


