body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label { vertical-align: top;}

/*textarea { vertical-align: bottom;}*/

/*input { vertical-align: top; }*/

.string-big { color: green; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.hidden { display: none; }

.scroll-box {
    overflow-x:hidden;
    overflow:auto;
    
}

.new_message {
    background-color:#fcf9ce;
}
pre {
	font-weight: bolder;
	border:0 !important; 
}

#messages-container p {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
